<div class="certificates-page">

  <div class="main-container">
    <div class="certificates-container">

      <div class="certificates-list">
        <h2 class="certificates-title">Cursos completados</h2>
        <!-- Lista de certificados -->
        <div class="buttons-list">
          <button
            *ngFor="let cert of certificates"
            (click)="selectCertificate(cert)"
            [ngClass]="{ 'selected': selectedCertificate === cert }">
            {{ cert.title }}
          </button>
        </div>

        <div>

          <!-- Opciones de descarga -->
          <div class="download-options">
            <h3>
              Opciones de descarga
              <span class="material-symbols-outlined">download</span>
            </h3>
            <div class="download-buttons">
              <button
                (click)="download('pdf')"
                [ngClass]="{ 'selected': activeFormat === 'pdf' }">
                <span class="material-symbols-outlined">picture_as_pdf</span>
                PDF
              </button>

              <button
                (click)="download('png')"
                [ngClass]="{ 'selected': activeFormat === 'png' }">
                <span class="material-symbols-outlined">image</span>
                PNG
              </button>

              <button
                (click)="download('jpg')"
                [ngClass]="{ 'selected': activeFormat === 'jpg' }">
                <span class="material-symbols-outlined">image</span>
                JPG
              </button>
            </div>
          </div>
          <div class="share-options">
            <h3>
              Compartir certificado
              <span class="material-symbols-outlined">share</span>
            </h3>
            <div class="share-buttons">
              <button (click)="share('linkedin')">
                <span class="material-symbols-outlined">work</span>
                LinkedIn
              </button>
              <button (click)="share('facebook')">
                <span class="material-symbols-outlined">facebook</span>
                Facebook
              </button>

            </div>
          </div>

        </div>
      </div>
      <div class="preview-container">

        <!-- Vista previa del certificado -->
        <div *ngIf="selectedCertificate" class="certificate-detail-container">
          <div class="certificate-box" #certificateBox>
            <div class="certificate-detail" #certificateDetail>
              <div class="header">
                <img src="../../assets/logo-eldes.png" class="watermark-logo"
                  alt="logo eldes watermark">
                <div class="header-flex">
                  <h1>
                    Certificado de finalización de curso {{
                    selectedCertificate.type }}
                  </h1>
                </div>
              </div>
              <div class="content">
                <p>Reconocimiento oficial de finalización del curso</p>
                <p><span class="organization-name">ELdeS</span> acredita que</p>
                <h2>{{ selectedCertificate.user }}</h2>
                <p>completó exitosamente el curso</p>
                <h3>{{ selectedCertificate.title }}</h3>
                <p>promoviendo una comunicación más accesible e inclusiva.</p>
                <p>con fecha {{ selectedCertificate.date | date:'longDate'}}</p>
                <div class="signatures">
                  <div class="signature-block">
                    <img src="../../assets/sign1.png" alt="signature1">
                    <hr class="signature-line">
                    <div class="signature-name">Juan Pérez</div>
                  </div>
                  <div class="signature-block">
                    <img src="../../assets/sign2.png" alt="signature2">
                    <hr class="signature-line">
                    <div
                      class="signature-name">sdasdasdasdaewrqerqwerqwerq</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
