<div class="user-ranking-container">

  <!-- Info del usuario actual -->
  <div *ngIf="currentUser()" class="user-info">
    <div class="ranking-selector">
      <mat-button-toggle-group
        [(ngModel)]="selectedRanking"
        name="rankingType"
        appearance="standard"
        hideSingleSelectionIndicator="true"
        (change)="onRankingTypeChange()">
        <mat-button-toggle value="country">Country</mat-button-toggle>
        <mat-button-toggle value="organization"
          [disabled]="!hasOrganizationRanking()">
          Organization
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <h2>Tu puesto actual</h2>
    <div class="rank-box">{{ currentUser()?.rank }}</div>


    <!-- Mensaje según posición -->
    <ng-container *ngIf="currentUser() as user">
      <p *ngIf="user.rank === 1">
        ¡Eres el número 1 del ranking! 🏆 ¡Sigue así!
      </p>
      <p *ngIf="user.rank !== 1 && user.rank <= 3">
        ¡Estás en el top 3! Excelente desempeño.
      </p>
      <p *ngIf="user.rank > 3 && user.rank <= 5">
        ¡Estás entre los 5 mejores! Sigue avanzando para llegar al podio.
      </p>
      <p *ngIf="user.rank > 5">
        Te faltan {{ pointsToFifth }} puntos para alcanzar el puesto 5.
      </p>
    </ng-container>
  </div>

  <!-- Tabla del Top -->
  <div class="ranking-table-container">
    <table mat-table [dataSource]="topUsers"
      class="mat-elevation-z2 ranking-table top-ranking-table">

      <!-- Rank -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef
          class="header-cell first-header-cell">Puesto</th>
        <td mat-cell *matCellDef="let user"
          [ngClass]="{'top-rank': user.rank <= 3}">
          {{ getRankDisplay(user.rank) }}
        </td>
      </ng-container>

      <!-- User -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Usuario</th>
        <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
      </ng-container>

      <!-- Completed Lessons -->
      <ng-container matColumnDef="lessons">
        <th mat-header-cell *matHeaderCellDef
          class="header-cell last-header-cell">N° Lecciones</th>
        <td mat-cell *matCellDef="let user">{{ user.points }}</td>
      </ng-container>

      <!-- Render rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Fila destacada del usuario actual -->
    <div class="current-user-row-container">
    <table *ngIf="currentUser()" mat-table [dataSource]="[currentUser()]"
      class="mat-elevation-z2 ranking-table">
      <ng-container matColumnDef="rank">
        <td mat-cell *matCellDef="let user"
          class="rank-cell user-row rank-cell-header">
          {{ getRankDisplay(user.rank) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <td mat-cell *matCellDef="let user" class="user-cell user-row">
          <strong>{{ user.userName }}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="lessons">
        <td mat-cell *matCellDef="let user" class="lessons-cell user-row">
          {{ user.points }}
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="user-highlight-row"></tr>
    </table>
    </div>
  </div>
</div>
